[class^="col"] {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  float: left;
}
.col-24 {
  width: 100%;
}
.col-23 {
  width: 95.8333%;
}
.col-22 {
  width: 91.6666%;
}
.col-21 {
  width: 87.5%;
}
.col-20 {
  width: 83.33333%;
}
.col-19 {
  width: 79.1666%;
}
.col-18 {
  width: 75%;
}
.col-17 {
  width: 70.83333%;
}
.col-16 {
  width: 66.66666%;
}
.col-15 {
  width: 62.5%;
}
.col-14 {
  width: 58.33333%;
}
.col-13 {
  width: 54.16666%;
}
.col-12 {
  width: 50%;
}
.col-11 {
  width: 45.83333%;
}
.col-10 {
  width: 41.66666%;
}
.col-9 {
  width: 37.5%;
}
.col-8 {
  width: 33.33333%;
}
.col-7 {
  width: 29.16666%;
}
.col-6 {
  width: 25%;
}
.col-5 {
  width: 20.83333%;
}
.col-4 {
  width: 16.66666%;
}
.col-3 {
  width: 12.5%;
}
.col-2 {
  width: 8.3333333%;
}
.col-1 {
  width: 4.16666%;
}
@media (min-width: 1px) {
  .col-xs-24 {
    width: 100%;
  }
  .col-xs-23 {
    width: 95.8333%;
  }
  .col-xs-22 {
    width: 91.6666%;
  }
  .col-xs-21 {
    width: 87.5%;
  }
  .col-xs-20 {
    width: 83.33333%;
  }
  .col-xs-19 {
    width: 79.1666%;
  }
  .col-xs-18 {
    width: 75%;
  }
  .col-xs-17 {
    width: 70.83333%;
  }
  .col-xs-16 {
    width: 66.66666%;
  }
  .col-xs-15 {
    width: 62.5%;
  }
  .col-xs-14 {
    width: 58.33333%;
  }
  .col-xs-13 {
    width: 54.16666%;
  }
  .col-xs-12 {
    width: 50%;
  }
  .col-xs-11 {
    width: 45.83333%;
  }
  .col-xs-10 {
    width: 41.66666%;
  }
  .col-xs-9 {
    width: 37.5%;
  }
  .col-xs-8 {
    width: 33.33333%;
  }
  .col-xs-7 {
    width: 29.16666%;
  }
  .col-xs-6 {
    width: 25%;
  }
  .col-xs-5 {
    width: 20.83333%;
  }
  .col-xs-4 {
    width: 16.66666%;
  }
  .col-xs-3 {
    width: 12.5%;
  }
  .col-xs-2 {
    width: 8.3333333%;
  }
  .col-xs-1 {
    width: 4.16666%;
  }
}
@media (min-width: 768px) {
  .col-sm-24 {
    width: 100%;
  }
  .col-sm-23 {
    width: 95.8333%;
  }
  .col-sm-22 {
    width: 91.6666%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-20 {
    width: 83.33333%;
  }
  .col-sm-19 {
    width: 79.1666%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-17 {
    width: 70.83333%;
  }
  .col-sm-16 {
    width: 66.66666%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-14 {
    width: 58.33333%;
  }
  .col-sm-13 {
    width: 54.16666%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-11 {
    width: 45.83333%;
  }
  .col-sm-10 {
    width: 41.66666%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-8 {
    width: 33.33333%;
  }
  .col-sm-7 {
    width: 29.16666%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-5 {
    width: 20.83333%;
  }
  .col-sm-4 {
    width: 16.66666%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 8.3333333%;
  }
  .col-sm-1 {
    width: 4.16666%;
  }
}
@media (min-width: 980px) {
  .col-md-24 {
    width: 100%;
  }
  .col-md-23 {
    width: 95.8333%;
  }
  .col-md-22 {
    width: 91.6666%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-20 {
    width: 83.33333%;
  }
  .col-md-19 {
    width: 79.1666%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-17 {
    width: 70.83333%;
  }
  .col-md-16 {
    width: 66.66666%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-14 {
    width: 58.33333%;
  }
  .col-md-13 {
    width: 54.16666%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-11 {
    width: 45.83333%;
  }
  .col-md-10 {
    width: 41.66666%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-8 {
    width: 33.33333%;
  }
  .col-md-7 {
    width: 29.16666%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-5 {
    width: 20.83333%;
  }
  .col-md-4 {
    width: 16.66666%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-2 {
    width: 8.3333333%;
  }
  .col-md-1 {
    width: 4.16666%;
  }
}
@media (min-width: 1200px) {
  .col-lg-24 {
    width: 100%;
  }
  .col-lg-23 {
    width: 95.8333%;
  }
  .col-lg-22 {
    width: 91.6666%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-20 {
    width: 83.33333%;
  }
  .col-lg-19 {
    width: 79.1666%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-17 {
    width: 70.83333%;
  }
  .col-lg-16 {
    width: 66.66666%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-14 {
    width: 58.33333%;
  }
  .col-lg-13 {
    width: 54.16666%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-11 {
    width: 45.83333%;
  }
  .col-lg-10 {
    width: 41.66666%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-8 {
    width: 33.33333%;
  }
  .col-lg-7 {
    width: 29.16666%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-5 {
    width: 20.83333%;
  }
  .col-lg-4 {
    width: 16.66666%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-2 {
    width: 8.3333333%;
  }
  .col-lg-1 {
    width: 4.16666%;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row::after {
  content: " ";
  display: table;
  clear: both;
}

.container {
  width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*text align*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-lg-center {
  text-align: center;
}
.text-lg-left {
  text-align: left;
}
.text-lg-right {
  text-align: right;
}
.text-lg-justify {
  text-align: justify;
}
/*text align*/

@media (max-width: 1199px) {
  /*MD*/
  .container {
    width: 960px;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-justify {
    text-align: justify;
  }
}

@media (max-width: 979px) {
  /*SM*/
  .container {
    width: 740px;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-justify {
    text-align: justify;
  }
}

@media (max-width: 767px) {
  /*XS*/
  .container {
    width: auto;
  }
  .text-xs-center {
    text-align: center;
  }
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-justify {
    text-align: justify;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  width: 100%;
  min-height: 1px;
  float: left;
  clear: both;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}



@media (min-width: 1200px) {
  .visible-lg {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
}

@media (max-width: 1199px) and (min-width: 980px) {
  .hidden-md {
    display: none;
  }
  .visible-md {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-sm {
    display: none;
  }
  .visible-sm {
    display: block;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  .visible-xs {
    display: block;
  }
}
